<!DOCTYPE html>
<html>
  <head>
  
    <meta property="og:title" content="Web Uptimer">
    <meta property="og:site_name" content="webuptimer.tk">
    <meta property="og:description" content="Uptime your website now! Free website pinger, no limits Made by Angelo II#0007">

    <meta name="theme-color" content="#21211f">

    <title>Web Uptimer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    
    <link rel="stylesheet" href="/public/style.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">

  </head>
  <body>
    <nav>
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <label class="logo">Web Uptimer</label>
      <ul>
        <li><a class="active" href="/add">Add</a></li>
        <li><a href="/remove">Remove</a></li>
        <li><a href="https://github.com/AngeloCore/uptimer">Github</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </nav>

    <center class="heading">

    <input id="url-area" placeholder="Put URL...">

    <div><button type="button" id="submit-btn" onclick="submit()">Submit</button></div>

    <script src="/public/input.js"></script>

    <script>
      function submit () {

        var url = document.getElementById('url-area').value;

        var data = {
          url: url,
          author: "<%= user.id %>"
        }

        fetch('<%= config.protocol %><%= config.domain %>/api/post', {
          method: 'POST',
          mode: 'cors',
          cache: 'no-cache',
          credentials: 'same-origin',
          headers: {
            'Content-Type': 'application/json'
          },
          redirect: 'follow',
          referrerPolicy: 'no-referrer',
          body: JSON.stringify(data)
        }).then(res => res.json()).then(body => {

          if (body.message) {
            return alert(body.message);
          }

          if (body.success === true) {
            location.reload();
            alert('Successfuly Added The URL');
          }

        })
      }
    </script>

    <div class="footer">

      <p class="footer-text-powered">Powered by <i class="fab fa-npm npm" aria-hidden="true"></i><a class="web-uptimer" href="https://npmjs.com/package/web-uptimer"> Web Uptimer</a></p>

      <p class="footer-text-github">Checkout this code on <i class="fab fa-github github" aria-hidden="true"></i><a class="github" href="https://github.com/AngeloCore/uptimer"> Github</a></p>

    </div>

    </center>
  </body>
</html>